*{
  font-family :JetBrains Mono Nerd Font, monospace;
  font-size: 15px;
  color : "#fbf1c7";
}

#window {
  color : #fbf1c7;

  border-color: #2a2625;
  border-style: solid;
  border-width: 2px;

  background: none;
  background-image: linear-gradient(to bottom, #2a2625 100%);
  box-shadow: none;
  border-radius: 14px;
}

#input {
  color: #fbf1c7;
  background-color: #2a2625;
  border-radius: 14px;

  background: none;
  border : none;
  box-shadow: none;
  padding: 5px;
  font-weight: bold;
}

#entry {
  border-style: none;
  padding: 5px;
  border-radius : 12px;
}

#entry:selected {
  background-color: #d79921;
  outline : none;
  color: #ffffff;
  border-style : none;
  font-weight: bold;
  margin:6px;
}

#img {
  margin-right: 6px;
  min-width: 20px;
  min-height: 20px;
}

