* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Noto Sans CJK SC,Roboto, Helvetica, Arial, sans-serif,JetBrains Mono Nerd Font,monospace;

    font-size: 16px;
    font-weight : bold;
    padding : 0px;
    background : transparent; 
}

/* window#waybar { */
/*     background-image : linear-gradient(to bottom, #2a2625 100%); */
/*     border-radius : 24px; */
/* } */
#battery, #network, #clock,
#custom-applauncher,
#tray, #workspaces,
#pulseaudio {
    margin : 6px;
    margin-left: 12px;
    margin-right: 8px;
    border-radius : 12px;
    padding : 2px 13px 0px 8px;
  color : #fbf1c7; border-style: none;
   transition-duration: 120ms;
}

#clock {
  margin-right: 6px;
}

#custom-applauncher{
  margin: 8px;
  padding: 0px 10px 0px 10px;
}

#workspaces button {
  transition-duration: 100ms;
  all: initial;
  min-width: 0;
  font-weight: bold;
    color : #fbf1c7;
  margin-right: 0.2cm;
  margin-left: 0.2cm; 
}

#workspaces button:hover { transition-duration: 120ms;
  color: #fbf1c7;
}

#pulseaudio:hover {
  background-image: linear-gradient(to bottom, #fbf1c7 100%);
  color: #111111;
  transition-duration: 120ms;
}


#network:hover {
  background-image: linear-gradient(to bottom, #fbf1c7 100%);
  color: #111111;
  transition-duration: 120ms;
}

#battery:hover { background-image: linear-gradient(to bottom, #fbf1c7 100%);
  color: #111111;
  transition-duration: 120ms;
}

#custom-applauncher:hover {
  padding: 0px 10px 0px 10px;
  background-image: linear-gradient(to bottom, #fbf1c7 100%);
  color: #111111;
  margin: 8px;
  padding: 0px 10px 0px 10px;
  border-radius: 12px;
  transition-duration: 120ms;
}

#clock:hover {
  background-image: linear-gradient(to bottom, #fbf1c7 100%);
  color: #111111;
  transition-duration: 120ms;
}
